.aside{
    display: block;
    width: 200px;
    height: 100vh;
    background-color:#080916

}

.logo{
    width: 150px;
   
}
 
.titulo{
    justify-self: flex-start;
    padding-left: 10px;
    color: aliceblue;
}

.botao{
    
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}