.ql-editor.ql-blank::before{
    color: #3b3a3a;
}

.ql-editor {
  max-height: 300px; /* sรณ exemplo, pra ter rolagem */
  overflow-y: auto;
}

/* largura da barra */
.ql-editor::-webkit-scrollbar {
  width: 8px;
}

/* fundo da barra */
.ql-editor::-webkit-scrollbar-track {
  background: #222;      /* cor do trilho */
  border-radius: 4px;
}

/* parte que desliza */
.ql-editor::-webkit-scrollbar-thumb {
  background: #555;       /* cor da barra */
  border-radius: 4px;
}

/* quando passa o mouse */
.ql-editor::-webkit-scrollbar-thumb:hover {
  background: #888;
}