.nota{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    max-width: 200px;
    background-color: #080916;
    color: aliceblue;
    
    
}

:global(.ql-editor::before) {
  color: #888 !important;
  opacity: 1 !important;
}


.containerBotao{
  display: flex;
  align-items: flex-end;
}

.botaoApaga{
  background: transparent;
  align-self: flex-end;
  border:  none;
  color: aliceblue;
  
}